* {
  font-family: "Libre Franklin", "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 1366px;
  margin: auto;
}
.title {
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #0b4b5a !important;
}

/* Header */

.header {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #fff;
  z-index: 273;
  border-bottom: 1px solid lightgray;
}
.header-top {
  background-color: rgb(76, 177, 202);
  color: #fff;
}
.header-top-content {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-content-left {
  display: flex;
  align-items: center;
}
.content-left-item + .content-left-item {
  margin-left: 32px;
}
.language,
.currency {
  /* font-size: 13px; */
  /* font-family: "OpenSans"; */
  color: rgb(190, 242, 255);
  /* line-height: 1.2; */
}
.top-content-right {
  display: flex;
  align-items: center;
}
.content-right-item {
  padding: 0 21px;
  color: #fff;
}
.content-right-item:last-child {
  padding: 0 0 0 21px;
}
.content-right-item + .content-right-item {
  border-left: 1px solid #fff;
}
.header-main-content {
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 36px;
  color: rgb(101, 101, 101);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.header-menu-item {
  font-size: 14px;
  color: rgb(101, 101, 101);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
}
.header-menu-item + .header-menu-item {
  margin-left: 38px;
}
.header-info {
  display: flex;
  align-items: center;
}
.search-form {
  display: flex;
  margin-right: 20px;
  /* margin-left: 122px; */
  background: rgba(238, 238, 238, 0.71);
  /* border-radius: 10px; */
  max-width: 232px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: #fff;
  border: 1px solid lightgray;
  width: 100%;
  padding: 5px;
}
.search-input:focus {
  outline: none;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
}
.stocks {
  margin-right: 5px;
}
.cart-icon,
.stock-icon {
  width: 48px;
  height: 48px;
}
.shopping-counter {
  margin-left: 20px;
  font-size: 14px;
  color: rgb(101, 101, 101);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

/* Main */
.main {
  max-width: 100vw;
  /* max-height: 100vh; */
}
.main-content {
  margin: 64px 0;
}
.main-content-title {
  font-size: 24px;
  color: rgb(99, 95, 87);
  text-transform: uppercase;
  line-height: 1.2;
}
.main-card-list {
  display: flex;
  justify-content: unsafe center;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px 0 2px 0;
}
.card-list-item {
  max-width: 315px;
  max-height: 425px;
  padding: 12px;
  border: 1px solid rgba(238, 238, 238, 0.71);
  box-shadow: 0 0 5px #aaa;
  margin-bottom: 30px;
}
.card-list-image {
  width: 289px;
  height: 304px;
  background: #eff1f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
}
.card-title {
  font-weight: 500;
  font-size: 16px;
  color: rgb(70, 65, 72);
  line-height: 1.571;
}
.card-price {
  font-size: 18px;
  color: #7db122;
  line-height: 1.571;
}
.add-to-cart {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

/* Footer */

.footer {
  max-width: 100vw;
}
.order-info {
  display: flex;
  align-items: center;
  height: 145px;
  background-color: #4cb1ca;
}
.order-info-content {
  display: flex;
  align-items: center;
  color: #fff;
}
.free-shopping {
  display: flex;
  align-items: center;
  margin-right: 117px;
}
.call-us {
  display: flex;
  align-items: center;
}
.shopping-icon,
.call-icon {
  padding-right: 28px;
}
.free-shopping-title,
.call-us-title {
  font-weight: normal;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
}
.soc-info {
  max-width: 100vw;
  /* height: 448px; */
  background-color: #39a0b9;
}
.soc-info-columns {
  height: 448px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 64px 0;
  color: #fff;
}
.facebook-column,
.from-twitter-column,
.information-column,
.contact-us-column {
  max-width: 310px;
}
/* ..facebook-column,
.from-twitter-column,
.information-column {
  margin-right: 64px;
} */
.members {
  font-weight: 100;
  font-size: 14px;
  line-height: 1.538;
  margin-bottom: 5px;
}
.like {
  padding-bottom: 5px;
}
.members-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #4cb1ca;
  border-bottom: 1px solid #4cb1ca;
  padding-top: 10px;
}
.member-item {
  width: 66px;
  height: 66px;
  padding-bottom: 10px;
}
.twitter-content-info-item {
  display: flex;
  /* align-items: center; */
}
.twitter-logo {
  width: 58px;
  height: 58px;
  margin-right: 15px;
}
.twitter-some-info-top,
.twitter-some-info-bottom {
  font-size: 15px;
  line-height: 1.462;
  font-weight: 100;
}
.twitter-selected-text {
  color: #73c8dc;
}
.information-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info-tick {
  margin-right: 16px;
}
.contact-us-soc-icons {
  padding-top: 24px;
}
.soc-icons-item {
  width: 49px;
  height: 49px;
  margin-right: 7px;
}
.soc-icons-item:last-child {
  margin-right: 0;
}

.footer-bottom {
  max-width: 100vw;
  height: 80px;
  background-color: #0b4b5a;
  display: flex;
  align-items: center;
}
.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content-right {
  color: #39a0b9;
}
.footer-content-menu-item {
  color: #39a0b9;
  text-decoration: none;
  padding: 0 21px;
}
.footer-content-menu-item:last-child {
  padding-right: 0;
}
.footer-content-menu-item + .footer-content-menu-item {
  border-left: 1px solid #39a0b9;
}

.contact-us-soc-icons {
  border-top: 1px solid #4cb1ca;
}

/* ItemDetails */

.item-details-container {
  max-width: 100vw;
  margin: 20px;
}

.back-btn {
  font-size: 20px;
}

.item-cart-content {
  max-width: 100vw;
  margin: 30px 0;
}
.item-image {
  width: 200px;
  margin: 45px 0;
}
.item-price {
  color: #7db122;
  font-size: 30px;
  margin-bottom: 20px;
  /* margin-left: 50px; */
}
